## copy the the block into your printer.cfg and replace the info after /by-id/
# [mcu adxl]
# serial: /dev/serial/by-id/usb-Klipper_rp2040_E6625887D33B3E30-if00
##

[adxl345]
cs_pin: adxl:gpio13 
spi_software_sclk_pin: adxl:gpio10
spi_software_mosi_pin: adxl:gpio11
spi_software_miso_pin: adxl:gpio12

[resonance_tester]
accel_chip: adxl345
probe_points:
   175, 175, 20

# [mcu rampon]
# # [mcu PIS]
# # Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
# serial: /dev/serial/by-id/usb-Anchor_Rampon-if00
# # serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F42350A437-if00

# [adxl345]
# cs_pin: rampon:CS
# axes_map: x,-z,y

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     175,175,40 # an example