[gcode_macro BUILD_BED_MESH]
gcode:
    {% if 'PROBE_COUNT' in params|upper %}
        {% set get_count = ('PROBE_COUNT=' + params.PROBE_COUNT) %}
    {%else %}
        {% set get_count = "" %}
    {% endif %}
    {% if not params.BED is defined %}
        RESPOND MSG="You must enter a bed temperature to run this macro."
    {% else %}
        SAVE_GCODE_STATE NAME=STATE_MESH
        {% set bedtemp = params.BED|default(0)|int %}
        BED_MESH_CLEAR
        {% if printer.toolhead.homed_axes != "xyz" %}
            G28
        {% endif %}
        M190 S{bedtemp}
        QUAD_GANTRY_LEVEL
        _STATUS_MESHING
        BED_MESH_CALIBRATE {get_count} PROFILE={bedtemp}
        BED_MESH_PROFILE SAVE={bedtemp}
        RESTORE_GCODE_STATE NAME=STATE_MESH
        SAVE_CONFIG
    {% endif %}  

# [gcode_macro BED_LEVELING]
# description: Start Bed Leveling
# gcode:
#   {% if 'PROBE_COUNT' in params|upper %}
#   {% set get_count = ('PROBE_COUNT=' + params.PROBE_COUNT) %}
#   {%else %}
#   {% set get_count = "" %}
#   {% endif %}
#   {% set bed_temp = params.BED_TEMP|default(50)|float %}
#   {% set hotend_temp = params.HOTEND_TEMP|default(140)|float %}
#   {% set nozzle_clear_temp = params.NOZZLE_CLEAR_TEMP|default(240)|float %}
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor_2 ENABLE=0
#   {% if printer.toolhead.homed_axes != "xyz" %}
#   G28
#   {% endif %}
#   BED_MESH_CLEAR
#   NOZZLE_CLEAR HOT_MIN_TEMP={hotend_temp} HOT_MAX_TEMP={nozzle_clear_temp} BED_MAX_TEMP={bed_temp}
#   ACCURATE_G28
#   M204 S5000
#   SET_VELOCITY_LIMIT ACCEL_TO_DECEL=5000
#   BED_MESH_CALIBRATE {get_count}
#   BED_MESH_OUTPUT
#   {% set y_park = printer.toolhead.axis_maximum.y/2 %}
#   {% set x_park = printer.toolhead.axis_maximum.x|float - 10.0 %}
#   G1 X{x_park} Y{y_park} F20000
#   TURN_OFF_HEATERS
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
#   SET_FILAMENT_SENSOR SENSOR=filament_sensor_2 ENABLE=1
#   M84

[gcode_macro HEATER_LOOP_TEN_TIMES]
gcode:
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    HEATER_LOOP
    M400
    TURN_OFF_HEATERS

[gcode_macro HEATER_LOOP] 
gcode:
    M106 S0                                    #start loop and run 10 times
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0
    M106 S0                                    #start loop
    M109 S100
    G4 S1.500
    M104 S0
    M109 S250
    M400 ; Wait for all moves to complete
    M106
    M109 S35
    M400 ; Wait for all moves to complete
    M106 S0   